<form>
    <div>
        <div>
            <h1>Name of the Game</h1>
            <input type="text" id="title" placeholder="Title">
        </div>
        <div>
            <h2>Rating</h2>
        </div>
        <div>
            <h1>Go ahead and write your thoughts here</h1>
            <input type="text" id="description">
        </div>
        <div>
            <button class="btn btn-success">Submit</button>
        </div>
    </div>
</form>