<div>
    <div class="modal fade text-center w-50 bg-secondary" id="oldUser">
        <div class="modal-content">
            <input class="" id="old-username" type="text" placeholder="Username">
            <input class="" id="old-password" type="text" placeholder="Password">
        </div>
        <div>
            <button class="btn btn-success" id="return-login">Login</button>
        </div>
    </div>
    <div class="modal fade text-center w-50 bg-secondary" id="newUser">
        <div class="modal-content">
            <input class="" id="new-email" type="text" placeholder="Email Address">
            <input class="" id="new-username" type="text" placeholder="Username">
            <input class="" id="new-password" type="text" placeholder="Password">
        </div>
        <div>
            <button class="btn btn-success" id="new-login">Sign Up</button>
        </div>
    </div>    
</div>