<div>
    <div class="modal fade text-center w-50 bg-secondary" id="oldUser">
        <div class="modal-content">
            <input class="" type="text" placeholder="Username">
            <input class="" type="text" placeholder="Password">
        </div>
        <div>
            <button class="btn btn-success">Login</button>
        </div>
    </div>
    <div class="modal fade text-center w-50 bg-secondary" id="newUser">
        <div class="modal-content">
            <input class="" type="text" placeholder="Email Address">
            <input class="" type="text" placeholder="Username">
            <input class="" type="text" placeholder="Password">
        </div>
        <div>
            <button class="btn btn-success">Sign Up</button>
        </div>
    </div>    
</div>