<div class="row">
    <div class="col d-flex flex-column" id="oldUser">
        <div>
            <h2>Returning User</h2>
        </div>

        <form id="return-login">
            <div class="mb-3">
                <label for="old-username" class="form-label">username</label>
                <input type="text" class="form-control" id="old-username" aria-describedby="username">
            </div>
            <div class="mb-3">
                <label for="old-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="old-password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

    <div class="col d-flex flex-column" id="newUser">
        <div>
            <h2>New User</h2>
        </div>

        <form id="new-login">
            <div class="mb-3">
                <label for="new-email" class="form-label">email</label>
                <input type="text" class="form-control" id="new-email" aria-describedby="email">
            </div>

            <div class="mb-3">
                <label for="new-username" class="form-label">username</label>
                <input type="text" class="form-control" id="new-username" aria-describedby="username">
            </div>

            <div class="mb-3">
                <label for="new-password" class="form-label">Password</label>
                <input type="password" class="form-control" id="new-password">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>
</div>