body {
    background-color: black;
}

main {
    height: 100%;
}

nav {
    justify-content: space-between;
}

.nav-item {
    margin-right: 2rem;
}

.hero {
    height: 10rem;
    background-image: url('../img/4626804.webp');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search {
    display: flex;
    flex-direction: row;
    height: 3rem;
    margin-right: 2rem;
}

.row {
    height: 24rem;
    margin-top: 1rem;
    margin-left: 1rem;
}

.col {
    justify-content: space-between;
    height: 100%;
}

.login {
    margin: auto;
    width: 20%;
}

.dash-main {
    display: flex;
    flex-direction: column;
}

.dash-welcome {
    border-bottom: 2px #198754;
}

#new-review {
    margin: auto;
    width: 50%;
}

.form-label {
    font-size: large;
}